
tcp:
  routers:
    mailu-smtp:
      entryPoints:
        - smtp
      rule: "HostSNI(`*`)"
      service: mailu-smtp-svc
    mailu-smtps:
      entryPoints:
        - smtps
      rule: "HostSNI(`mail.inlock.ai`)"
      service: mailu-smtps-svc
      tls:
        certResolver: le-dns
    mailu-submission:
      entryPoints:
        - submission
      rule: "HostSNI(`*`)"
      service: mailu-submission-svc
    mailu-imap:
      entryPoints:
        - imap
      rule: "HostSNI(`mail.inlock.ai`)"
      service: mailu-imap-svc
      tls:
        certResolver: le-dns

  services:
    mailu-smtp-svc:
      loadBalancer:
        proxyProtocol:
          version: 2
        servers:
          - address: "mailu-postfix:25"
    mailu-smtps-svc:
      loadBalancer:
        proxyProtocol:
          version: 2
        servers:
          # Forward decrypted 465 traffic to 10025 (Plaintext Auth)
          - address: "mailu-postfix:10025"
    mailu-submission-svc:
      loadBalancer:
        servers:
          # Forward to Nginx which handles STARTTLS on port 587 (no Proxy Protocol)
          - address: "mailu-front:587"
    mailu-imap-svc:
      loadBalancer:
        proxyProtocol:
          version: 2
        servers:
          # Forward decrypted 993 traffic to 143 (Plaintext Auth)
          - address: "mailu-imap:143"
