tls:
  stores:
    default:
      defaultCertificate:
        certFile: /run/secrets/positive_ssl_cert
        keyFile: /run/secrets/positive_ssl_key
  certificates:
    - certFile: /run/secrets/positive_ssl_cert
      keyFile: /run/secrets/positive_ssl_key
      stores:
        - default
  options:
    default:
      minVersion: VersionTLS12
      sniStrict: true
      cipherSuites:
        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
      curvePreferences:
        - CurveP256
        - CurveP384
