http:
  routers:
    strapi:
      rule: "Host(`cms.inlock.ai`)"
      service: strapi
      entryPoints:
        - websecure
      middlewares:
        - secure-headers
        - allowed-admins
        - admin-forward-auth
        - mgmt-ratelimit
      tls:
        certResolver: le-dns

    posthog:
      rule: "Host(`analytics.inlock.ai`)"
      service: posthog
      entryPoints:
        - websecure
      middlewares:
        - secure-headers
        - allowed-admins
        - admin-forward-auth
        - mgmt-ratelimit
      tls:
        certResolver: le-dns

  services:
    strapi:
      loadBalancer:
        servers:
          - url: "http://strapi_app:1337"

    posthog:
      loadBalancer:
        servers:
          - url: "http://posthog_web:8000"
