global:
  checkNewVersion: true
  sendAnonymousUsage: false

api:
  dashboard: true
  insecure: false

log:
  level: INFO
  format: json

ping:
  entryPoint: ping

accessLog:
  bufferingSize: 100
  format: json

entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
      forwardedHeaders:
        trustedIPs:
          - 173.245.48.0/20
          - 103.21.244.0/22
          - 103.22.200.0/22
          - 103.31.4.0/22
          - 141.101.64.0/18
          - 108.162.192.0/18
          - 190.93.240.0/20
          - 188.114.96.0/20
          - 197.234.240.0/22
          - 198.41.128.0/17
          - 162.158.0.0/15
          - 104.16.0.0/13
          - 104.24.0.0/14
          - 172.64.0.0/13
          - 131.0.72.0/22
  websecure:
    address: :443
    http:
      tls:
        options: default
      forwardedHeaders:
        trustedIPs:
          - 173.245.48.0/20
          - 103.21.244.0/22
          - 103.22.200.0/22
          - 103.31.4.0/22
          - 141.101.64.0/18
          - 108.162.192.0/18
          - 190.93.240.0/20
          - 188.114.96.0/20
          - 197.234.240.0/22
          - 198.41.128.0/17
          - 162.158.0.0/15
          - 104.16.0.0/13
          - 104.24.0.0/14
          - 172.64.0.0/13
          - 131.0.72.0/22
  ping:
    address: :8080
  metrics:
    address: :9100
  smtp:
    address: :25
  smtps:
    address: :465
  imap:
    address: :993

serversTransport:
  insecureSkipVerify: false

providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true
  # Docker provider disabled - using file-based routing exclusively
  # This eliminates Docker API version errors and improves security
  # All routing is configured in traefik/dynamic/routers.yml
  # docker:
  #   endpoint: tcp://docker-socket-proxy:2375
  #   exposedByDefault: false
  #   network: edge
  #   useBindPortIP: false

certificatesResolvers:
  le-dns:
    acme:
      email: admin@inlock.ai
      storage: /etc/traefik/acme/acme.json
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: 0
  le-tls:
    acme:
      email: admin@inlock.ai
      storage: /etc/traefik/acme/acme.json
      tlsChallenge: {}

metrics:
  prometheus:
    entryPoint: metrics
    addEntryPointsLabels: true
    addServicesLabels: true
